.main-div-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
}

.logo-div {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form-div-signup {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    width: 360px;
    height: 550px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    border-radius: 5px;
}

.form-div-signup h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-div-signup input {
    width: 300px;
    border-radius: 2px;
    padding: 6px;
    outline: none;
    border: 1px solid #1a1a1a;
    margin-bottom: 6.5px;
}

::placeholder {
    font-size: 13.5px;
    padding: 3px;
}

.login-signup {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 3px;
}

.info-signup {
    font-size: 12px;
}

.verify-signup {
    font-size: 13px;
    margin-top: 20px;
}

.final-div-signup p {
    margin-top: 5px;
}

.final-div-signup-hr {
    width: 40%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5.3rem;
}


.last-para {
    margin-top: 50px;
    font-size: 13px;

}

.last-para a {
    color: hsl(208, 75%, 47%);
}

.link-to-home {
    padding: 5px;
}


.terms-signin a:hover,
.link-to-home:hover {
    color: hsl(42, 100%, 44%);
    text-decoration: underline;
}

.footer-div-signup {
    background-color: hsl(0, 0%, 90%);
    border-top: 1px solid #ddd;
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.footer-div-signup ul {
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    padding-top: 2rem;
}

.footer-div-signup p {
    margin-top: 1.5rem;
    padding-bottom: 2rem;
    font-size: 13px;
    color: hsl(0, 1%, 34%);
    font-weight: 400;
}


/* HERE's OTP CSS */
.form_otp {
    height: 100%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otp_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 380px;
    border: 1px solid #c0c0c075;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 4px;
    border-radius: 10px;
    padding: 25px;
}

.verify_title {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 32px;
}

.verify_discription {
    padding: 0px 20px 40px 20px;
}

.btn_text {
    /* margin-left: 35px; */
    padding-left: 70px;
    padding-bottom: 3px;
    font-size: 14px;
    align-self: flex-start;
}

.otp_verification {
    margin-bottom: 15px;
    padding: 0px 8px;
    width: 300px;
    height: 35px;
    border: 1px solid #c0c0c0c8;
    border-radius: 8px;
    outline: none;
}

.go_back {
    outline: none;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}

.otp_btn {
    width: 300px;
    height: 35px;
    background-color: hsl(50, 100%, 54%);
    border: none;
    border-radius: 8px;
    margin: 5px 0px 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

/* new OTP Inputs */

.otpbody {
    height: 50px;
    margin: 0px 0px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.otp-field {
    width: 40px;
    height: 40px;
    margin-right: 6px;
    text-align: center;
    position: relative;
    outline: none;
    border: 2px solid rgba(157, 157, 157, 0.728);
    border-radius: 5px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        display: none;
    }
}

.otp-field:focus {
    border: 2px solid rgb(223, 190, 0);
    transform: scale(1.05);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 3px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.otpbody:focus-within {
    transform: scale(0.95);
}

.clear_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    outline: none;
    border: 2px solid rgba(142, 142, 142, 0.315);
    background-color: rgba(255, 196, 0, 0.363);
    border-radius: 5px;
    position: relative;
}

.clear_icon:active {
    transform: scale(1.05);
}